*{margin: 0;padding: 0;}
body{font-family: arial,"Microsoft YaHei";font-size: 12px;background: #fff;color: #000;text-align: left;line-height: 150%;}
li,ul,dl{list-style: none;}
a{text-decoration: none;outline: none;cursor: pointer;}
div,dl{display: block;margin: 0;padding: 0;}
img{border: 0;vertical-align: middle;outline: none;}





.head{width: 100%;position: relative;z-index: 1000;}
.head-top{height: 32px;border-bottom: 1px solid #ddd;background: #f4f4f4;}
.head-logo{position: relative;padding: 15px 0 25px 0;height: 55px;}
.head-nav{background: #000;width: 100%;height: 40px;}

.clear{
	zoom:1;
}
.clear:after{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.wrap{
	width: 1150px;
	margin: 0 auto;
}
.screen{
	width: 1150px;
	margin-left:auto;
	margin-right: auto;
}
.left{
	display: block;
	float: left;
}
.right{
	float: right;
}
.center{
	text-align: center;
}
.relative{
	position: relative;
}


/*head-top*/
.site-list li{
	float: left;
	line-height: 32px;
}
.site-list li.curr{
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #fff;
}
.site-list li a{
	padding: 0 15px;
	color: #000;
}
.site-list li a:hover{
	text-decoration: underline;
}

.top-list li.list{
	float: left;
	padding: 0 1px;
	border-left: 1px solid#f4f4f4;
	border-right: 1px solid #f4f4f4;
}
.top-list li.list a.list-a{
	padding:0 5px;
	line-height: 32px;
	display: inline-block;
	color: #000;
}
.top-list li.list a.login-out{
	color: #006699;
	cursor: pointer;
}
.top-list li.list a.login-out:hover{
	text-decoration: underline;
}
.red{
	color: #ee0011;
}
.top-list li.line-v{
	color: #ddd;
	line-height: 32px;
	padding: 0;
}

/*head-logo*/
.head-logo .boys-girls{padding-top:32px;}
.head-logo .boys-girls a{font-size: 18px;font-weight: bold;color: #000;line-height: 18px;}
.head-logo .boys-girls a.cur{border-bottom: 2px solid #000;}
.head-logo .boys-girls span{font-size: 16px;color: #ddd;line-height: 18px;padding: 0 10px;}
.head-logo .center{
	position: absolute;
	left: 50%;
	margin-left: -92px;
	margin-top: 10px;
}

/*head-nav*/
.nav-bar{/*position: relative;*/z-index: 100;}
.nav-bar li a.a-list{
	margin-right: 43px;
	margin-left: 42px;
	color: #fff;
	line-height: 40px;
	font-size: 14px;
	display: inline-block;
}
.nav-bar li.first a.a-list{
	margin-left: 0;
}
.nav-bar li.last a.a-list{
	margin-right: 0;
}
.nav-bar li.cur span{
	padding-bottom: 3px;
	border-bottom: 2px solid #fff;
}
/*导航菜单*/
.nav-panel{
	box-shadow: 0 0 3px 0 #666;
	background: #fff;
	position: absolute;
	top: 168px;
	left: 0;
	z-index: 100;
	width: 100%;
	padding: 30px 0;
	display: none;
}
.nav-panel ol{
	width: 150px;
	float: left;
	padding-right: 10px;
}
.nav-panel ol li{
	line-height: 38px;
	height: 38px;
	overflow: hidden;
	font-size: 14px;
}
.nav-panel ol li:hover{
	text-decoration: underline;
}
.nav-panel .cate-ads{
	float: right;
}
.nav-panel .cate-ads img{
	width: 345px;
	height: 230px;
}






.wrapper{
	display: block;
	margin: 0 auto 15px auto;
}
.wrapper-index2{
	margin-top: 10px;
}

/*焦点图*/
.focus-top{
	width: 100%;
	position: relative;
	margin: 0 0 0 0;
	height: 450px;
}
#bigSlide{
	width: 1150px;
	height: 450px;
	position: relative;
	overflow: hidden;
}
#bigSlide ul.focus-img{
	position: absolute;
	width: 9200px;
	height: 450px;
	top: 0;
	left: 0;
	overflow: hidden;
}
#bigSlide li{
	float: left;
	width: 1150px;
	height: 450px;
	overflow: hidden;
}
.focus-img li{
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	font-size: 12px;
}
.botton-switch{}
.botton-switch a{
	opacity: 0.55;
}
.botton-switch a.left{
	position: absolute;
	top: 50%;
	left: 0px;
	margin-top: -30px;
}
.botton-switch a.right{
	position: absolute;
	top: 50%;
	right: 0px;
	margin-top: -30px;
}
.focus-top .botton-switch .ifont{
	font-size: 30px;
	line-height: 30px;
	cursor: pointer;
	padding: 15px;
	background: #fff;
	color: #000;
}
.focus-buttom ul{
	padding: 0 2px;
	height: 54px;
	overflow: hidden;
	margin-top: 6px;
	margin-right: -6px;
}
.focus-buttom ul li{
	position: relative;
	float: left;
	margin-right: 6px;
	cursor: pointer;
}
.focus-buttom ul li img{
	width: 138px;
	height: 54px;
}
.focus-buttom ul li a{
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.3;
	width: 138px;
	height: 54px;
}
.focus-buttom ul li.cur a{
	opacity: 0;
}


/*优选品牌*/
.dl-index{
	width: 100%;
	margin-top: 20px;
}
.dl-index dt{
	height: auto;
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
	display: inline-block;
	width: 100%;
}
.dl-index dt .tittle{
	color: #000;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
}

.dl-index dt .keys a{
	color: #000;
	padding: 0 10px;
	cursor: pointer;
}
.dl-index dt .keys a:hover{
	text-decoration: underline;
}
.dl-index dt .keys span{
	color: #eee;
}
.dl-index .hot-hand li{
	float: left;
	margin: 0 2px 2px 0;
}
.index-unit5 .hot-hand a img{
	width: 190px;
	height: 190px;
}
.index-unit5 .hot-hand a img:hover{
	opacity: 0.8;
}
.index-unit5 .hot-hand .li-v-2 a img{
	height: 382px;
}
.index-unit5 .hot-hand .li-h-2 a img{
	width: 382px;
}

.index-unit5{
	width: 958px;
}
.index-unit5 ul{
	margin-right: -2px;
}
.index-unit5 .hot-hand{
	height: 384px;
}
.index-unit5 .hot-hand .li-v-2{
	float: right;
}
.index-unit1{
	width: 190px;
}
.index-unit1 .hot-hand li{
	padding: 0 0 2px 0;
}
.dl-index .hot-hand li .btn-page{
	padding: 50px 0 0 50px;
	width: 140px;
	height: 140px;
	background: #f4f4f2;
}
.dl-index .hot-hand .before{
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	outline: none;
	top: 8px;
	left: 2px;
}
.dl-index .hot-hand .next{
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	outline: none;
	top: 42px;
	left: 48px;
}
#recommend-1{
	display: block;
}
#recommend-2{
	display: none;
}
/*人气单品*/
.dl-index .index-ul li{
	float: left;
	margin: 0 2px 2px 0;
}
.index-ul li a img{
	width: 190px;
	height: 240px;
}
.index-ul li a img:hover{
	opacity: 0.8;
}
.index-ul .li-h-2 a img{
	width: 382px;
}
.index-ads{
	margin-top: 16px;
}
.index-ads img{
	width: 190px;
	margin-bottom: 2px;
}
.index-ads img:hover{
	opacity: 0.8;
}
.index-ads .ads-1 img{
	height: 320px;
}
.index-ads .ads-2 img{
	height: 190px;
}
/*潮流上装*/
.dl-index .category-top img{
	width: 190px;
	height: 170px;
}
.dl-index .category-list{
	width: 100%;
	background: #f8f8f8;
	padding: 8px 0;
}
.dl-index .category-list li{	
	float: left;
	margin-right: 5px;
	overflow: hidden;
	width: 90px;
}
.dl-index .category-list li a{
	position: relative;
	color: #ff0000;
	display: block;
	outline: hidden;
	padding: 0 0 0 15px;
	height: 28px;
	line-height: 28px;
}
.dl-index .category-list li a:hover{
	text-decoration: underline;
}
.dl-index .category-list .hot{
	position: absolute;
	left: 45px;
	top: 5px;
	display: inline-block;
	float: left;
	-webkit-transform: scale(0.8);
	background: #ff0000;
	color: #fff;
	padding: 2px 3px;
	font-size: 10px;
	display: block;
	margin-left: 5px;
	height: 14px;
	line-height:14px;
}
.dl-index .brands-list{
	width: 100%;
	background: #f2f2f2;
	padding: 8px 0;
}
.dl-index .brands-list li a{
	color: #ff0000;
	display: block;
	outline: hidden;
	line-height: 28px;
	height: 28px;
	padding: 0 15px 0 15px;
}
.dl-index .brands-list li a:hover{
	text-decoration: underline;
}

/*广告*/
.index-banner{
	width: 100%;
	margin-top:20px;
}
.index-banner img:hover{
	opacity: 0.8;
}

/*有货APP*/
.index-foot{
	background: #ffffff;
	padding: 20px 0;
	overflow: hidden;
}
.index-foot dd{
	margin-right: 20px;
	float: left;
	width: 370px;
}
.index-foot dd .foot-panel{
	background: #fff;
	padding: 20px;
}
.index-foot dd .tittle{
	text-align: center;
}
.index-foot dd .tittle .tittle-line{
	border-bottom: 1px solid #dddddd;
	position: absolute;
	top: 9px;
	left:0;
	right: 0;
}
.index-foot dd .tittle .text{
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	top: 0;
}
.index-foot dd .tittle .text span{
	background: #fff;
	font-size: 18px;
	line-height: 18px;
	padding: 0 10px;
}
.index-foot dd ul{
	margin-top: 18px;
	padding-top: 18px;
}
.index-foot dd .two-dim{
	margin-right: -10px;
	height: 131px;
	overflow: hidden;
}
.index-foot dd .two-dim li{
	border: 1px solid #ddd;
	padding: 7px;
	margin-right: 10px;
}
.index-foot dd .two-dim li a{
	display: block;
}
.index-foot dd .two-dim li p{
	text-align: center;
	margin-top: 13px;
	margin-bottom: 3px;
	line-height: 12px;
}
.index-foot dd .two-dim img{
	width: 87px;
	height: 87px;
}
.index-foot .last{
	margin-right: 0px;
}
.index-foot .vote{
	height: 131px;
	line-height: 2px;
}
.index-foot .vote input{
	margin: 0 5px 0 1px;
	border: 0;
}
.index-foot .vote-item p{
	float: left;
	width: 50%;
	height: 24px;
	overflow: hidden;
}

.index-foot ul .chanpin{
	margin-right: -10px;
	height: 131px;
	overflow: hidden;
}
.index-foot .chanpin li{
	margin-right: 10px;
	float: left;
	margin-bottom: 12px;
}
.index-foot .chanpin li img{
	width: 100px;
	height: 131px;
}











